/* Global style of doc */
* {
    box-sizing: border-box;
   /* These two style properties are used for giving a clear tree of semantics */
    /* border: 1px dashed rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.1); */
}

body {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
    font-size: relative;
}

/* Style of header */
header {
    background-color: #5b2f16;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: auto;
}

.navbar input {
    border-radius: 20px;
    width: 300px;
}

.navbar-links {
    display: flex;
}

.navbar a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}


.navbar-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 440px;
}

#logo-svg {
    width: 100%;
    flex-basis: 100px;
}

.search-color {
    color: white;
}

button {
    background: transparent;
    border: none;
}

/* Style of main */
main {
    min-width: 360px;
}

.container{
    max-width: 1320px;
    margin: auto;
    display: flex;
    flex-direction:column;
}

.container-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    align-items: center;
    align-content: stretch;
}

.card {
    width: 30%;
    max-width: 400px;
    min-width: 340px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    flex-basis: auto;
}

.card h4 {
    display: flex;
    justify-content: end;
}

.card h3, p, h4 {
    padding: 3px;
}

.underline {
    text-decoration: underline;
}

.star-color {
    color: gold;
}

div h1, .card h3, .card h4 a {
    color: #2a6914;
}

div h1 {
    text-align: center;
}

article img {
    width: 100%;
    object-fit: cover;
    max-height: 230px;
}

/* Style of footer */
footer {
    background-color: #5b2f16;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.bg-footer {
    margin-top: 30px;
    width: 100%;
    height: 34vh;
    background-image: url("/assets/images/cooking.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    max-width: 1320px;
    margin: auto;
}

footer p {
    align-self: center;
    text-transform: uppercase;
}

footer li, footer li a{
    text-decoration: none;
    color: white;
}

footer li a:hover {
    text-decoration: underline;
}

.footer-social-links a {
    text-decoration: none;
    color: white;
}

.footer-category {
    flex-basis: 340px;
}

.input-size {
    border-radius: 20px;
    width: 100%;
}

@media screen and (min-width: 230px) and (max-width: 714px) {
    .navbar-flex a{
        flex-basis: 300px;
    }

    .navbar-flex svg {
        width: 100%;
        margin: auto;
    }

    .navbar-form {
        margin: auto;
    }

    .navbar-links {
        margin: auto;
    }

    .navbar-form input {
        width: 250px;
    }

    .bg-footer {
        margin-top: -170px;
    }
}

@media screen and (min-width: 715px) and (max-width: 1090px) {
    .footer-content {
        flex-basis: 715px;
        max-height: 300px;
        flex-wrap: nowrap;
    }

    .footer-category {
        flex-basis: 237px;
    }

    .bg-footer {
        margin-top: -70px;
    }
}